# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
counter-app/dist
counter-app/tmp
counter-app/out-tsc

core-angular/dist
core-angular/tmp
core-angular/out-tsc

word-generator/tmp
word-generator/out-tsc

tic-tac-toe/tmp
tic-tac-toe/dist
tic-tac-toe/out-tsc

todo-app/tmp
todo-app/dist
todo-app/out-tsc


signup-reactive/tmp
signup-reactive/dist
signup-reactive/out-tsc

# Only exists if Bazel was run
counter-app/bazel-out
core-angular/bazel-out
word-generator/bazel-out
tic-tac-toe/bazel-out
todo-app/bazel-out
signup-reactive/bazel-out

# dependencies
counter-app/node_modules
core-angular/node_modules
word-generator/node_modules
tic-tac-toe/node_modules
todo-app/node_modules
signup-reactive/node_modules

# IDE - VSCode
counter-app/.vscode/*
counter-app/!.vscode/settings.json
counter-app/!.vscode/tasks.json
counter-app/!.vscode/launch.json
counter-app/!.vscode/extensions.json
counter-app/.history/*

core-angular/.vscode/*
core-angular/!.vscode/settings.json
core-angular/!.vscode/tasks.json
core-angular/!.vscode/launch.json
core-angular/!.vscode/extensions.json
core-angular/.history/*

word-generator/.vscode/*
word-generator/!.vscode/settings.json
word-generator/!.vscode/tasks.json
word-generator/!.vscode/launch.json
word-generator/!.vscode/extensions.json
word-generator/.history/*

todo-app/.vscode/*
todo-app/!.vscode/settings.json
todo-app/!.vscode/tasks.json
todo-app/!.vscode/launch.json
todo-app/!.vscode/extensions.json
todo-app/.history/*

signup-reactive/.vscode/*
signup-reactive/!.vscode/settings.json
signup-reactive/!.vscode/tasks.json
signup-reactive/!.vscode/launch.json
signup-reactive/!.vscode/extensions.json
signup-reactive/.history/*



# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
counter-app/npm-debug.log
counter-app/yarn-error.log
counter-app/testem.log
counter-app/typings

word-generator/npm-debug.log
word-generator/yarn-error.log
word-generator/testem.log
word-generator/typings

signup-reactive/npm-debug.log
signup-reactive/yarn-error.log
signup-reactive/testem.log
signup-reactive/typings



