<div class="container">
    <div class="row mt-5 mb-3">
      <div class="col col-8 offset-2">
        <div class="card shadow-sm border-0">
          <div class="card-header text-center background-dark text-light shadow-sm">
            <h5 class="card-title">Sign Up Please</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="userSignupForm" (ngSubmit)="onSubmit()">
              <div>
                <!-- image picker -->
                <div class="text-center">
                  <label for="imagepicker" class="">
                    <img alt="" class="rounded-circle shadow-sm" src="../../../assets/avatar.png" width="80" height="80" />
                  </label>
                  <input
                    type="file"
                    name="image"
                    id="imagepicker"
                    accept="image/*"
                    multiple="{false}"
                    class="hidden"
                    hidden
                    (change)="uploadFile($event)"
                  />
                </div>
                <div 
                [hidden]="!uploadPercent || uploadPercent == 100"
                class="text-white text-center">uploading {{uploadPercent | number: '1.0-0'}} % of 100%</div>
                <div 
                *ngIf="uploadPercent == 100"
                class="text-success text-uppercase text-center mb-3">
                  Upload finished
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                  type="name"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter Name"
                  required                                    
                  formControlName="name"/>
                  <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched || isSubmitted)">
                    <span class="text-danger">Please enter your name.</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter Email"
                  required
                  formControlName="email"/>
                  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched || isSubmitted)">
                    <div *ngIf="f.email.errors.required">
                      <span class="text-danger">Please enter your email.</span>
                    </div>
                    <div *ngIf="f.email.errors.email">
                      <span class="text-danger">Please enter a valid email.</span>
                    </div>
                    <div *ngIf="f.email.errors.emailUnavailable">
                      <span class="text-danger">This email id is already registered.</span>
                    </div>
                  </div>
                </div>                
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required
                    formControlName="password"/>
                    <div *ngIf="f.password.invalid && (f.password.touched || f.password.dirty || isSubmitted)">
                      <div *ngIf="f.password.errors.required">
                        <span class="text-danger">Please enter password.</span>
                      </div>
                      <div *ngIf="f.password.errors.minlength">
                        <span class="text-danger">Minimum length of a password is 6 character.</span>
                      </div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="instaId" class="col-sm-3 col-form-label">Instagram name</label>
                <div class="col-sm-9">
                  <input
                  type="text"
                  class="form-control"
                  id="instaId"
                  name="instaId"
                  placeholder="Enter your handle of instagram"
                  formControlName="instaId"/>
                  <div *ngIf="f.instaId.invalid && (f.instaId.touched || f.instaId.dirty || isSubmitted)">
                    <div *ngIf="f.instaId.errors.required">
                      <span class="text-danger">Please enter your instagram id.</span>
                    </div>
                    <div *ngIf="f.instaId.errors.instaIdUnavailable">
                      <span class="text-danger">Instagram id must be unique.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="country" class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                  <input
                  type="text"
                  class="form-control"
                  id="country"
                  name="country"
                  placeholder="Your Country"
                  required
                  formControlName="country"/>
                  <div *ngIf="f.country.invalid && (f.country.touched || f.country.dirty || isSubmitted)">
                    <span class="text-danger">Please enter your country.</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="bio" class="col-sm-3 col-form-label">Bio</label>
                <div class="col-sm-9">
                  <textarea
                  type="text"
                  class="form-control"
                  id="bio"
                  name="bio"
                  placeholder="some bio about you"
                  required
                  formControlName="bio">
                  </textarea>
                  <div *ngIf="f.bio.invalid && (f.bio.touched || f.bio.dirty || isSubmitted)">
                    <span class="text-danger">Bio should be less then 50 character.</span>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn background-dark text-light shadow-sm" type="submit" >
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  