/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";

.background-dark {
    background-color: #9C27B0;
}
.background-light {
    background-color: #F7F9F9;
}
.text-light {
    color: #ffffff;
}
